* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #DAD7CD;
    color: black;
    line-height: 1.6;
}

header {
    background-color: #A3B18A;
    padding: 2rem 1rem;
    text-align: center;
}

header h1 {
    color: #253f24;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

fieldset {
    margin-bottom: 20px;
    border: 1px solid #588157;
    padding: 15px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    font-size: 1.2rem;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: 500;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1.5px solid black;
    border-radius: 4px;
    font-size: 1rem;
}

input:focus, textarea:focus, select:focus {
    outline: 2px solid #344E41;
    outline-offset: 2px;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px 20px;
    background-color: #588157;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:focus {
    outline: 2px solid #344E41;
    outline-offset: 2px;
}

button:hover {
    background-color: #344E41;
}

/* Responsividade */
@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    header h1 {
        font-size: 2rem;
    }

    button {
        width: 100%;
    }
}