*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 4px;
}
body{
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #f0f0f0;
    
}
.servicos{
    width: 100%;
    padding: 10px;
}
.codigo{
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 25%;
}