body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

.icon-small {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

/* Ícones centrais */
.central-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

/* Ícones principais */
.icon {
    width: 100px;
    height: 100px;
}

/* Ajustes visuais */
.table {
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;    
}

/* Responsividade para telas pequenas */
@media (max-width: 576px) {  
    header {
        background-color: #588157; 
        color: #000;
    }

    .central-icons .icon {
        /*width: 30px;
        height: 30px;*/
        display: none;
    }
    
    .menu-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

     .table {
        font-size: 10px; /* Reduzir o tamanho das fontes na tabela */
    }
 
    /* Ajustar a posição dos ícones acima do cabeçalho */
    .top-icons-container {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }    

    tr:nth-child(even){
        background-color: #588157;
    }  
}

/* telas médias */
@media (min-width: 577px) and (max-width: 768px) {
    header {
        background-color: #DAD7CD; 
        color: #000;
    }

    /* Posicionar os ícones acima do cabeçalho */
    .top-icons-container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 15px;
    }

    .central-icons {
        /*display: none;  Ocultar ícones em telas médias */
        display: flex;
        justify-content: center;
        margin-top: 20px;    
    }

    .icon {
        width: 40px;
        height: 40px;
        /*display: none;*/
    }
    
    .table {
        font-size: 12px; /* Reduzir o tamanho das fontes na tabela */
    }

    tr:nth-child(even){
        background-color: #DAD7CD;
    }  
}

/* telas grandes */
@media (min-width: 769px) {
    header {
        background-color: #A3B18A ;
        color: #000;
    }

   /* Ajustar a posição dos ícones acima do cabeçalho */
   .top-icons-container {
    display: flex;
    justify-content: right;
    margin-bottom: 10px;}

    /* Exibir ícones normalmente */
    .central-icons {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    tr:nth-child(even){
        background-color: #A3B18A;
    }  
}